
*{
    box-sizing: border-box;
}


[class*="col-"] {
    width: 100%;
	padding: 5px; 
	x-fastfloat:left;
	text-align:left;
    /*border: 1px solid green;*/
}


html{
	background-color:white;
}
body{
width:460px;
background-color:#E0E0E0;
font-family:Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
box-shadow:0 1px 3px rgba(0,0,0,0.25),0 2px #f0f0f0 inset;
padding:5px;

}
#content{
	height:430px;
}
@media only screen {



.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.3%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
.row-m-1{height:75%;}
.row-m-2{height:50%;}
.row-m-3{height:25%;}
.row-m-p{height:10%;}
.row-m-box{height:30%;}
	
#producthead{
	height:120px;
}
#products{
	height:1600px;
}
#productdetails{
  height:950px;
}
#learnm{
	width:100%;
}
#productdetails2img{
	margin-top:1px;
	height:40%;
}

#hovimg1{
	top: 35%; 
	left:60%;
	height:18px;
	width:18px;
}

#hovimg2{
	top: 50%; 
	left:30%;
	height:18px;
	width:18px;
}

#hovimg3{
	top: 80%; 
	left:50%;
	height:18px;
	width:18px;
}

}

@media only screen and (min-width:640px) {
body{
width:640px;
/* height:300px; */
}
.col-t-1px{width:1%;}
.col-t-1 {width: 8.33%;}
.col-t-2 {width: 16.66%;}
.col-t-3 {width: 25%;}
.col-t-4 {width: 33.3%;}
.col-t-5 {width: 41.66%;}
.col-t-6 {width: 50%;}
.col-t-7 {width: 58.33%;}
.col-t-8 {width: 66.66%;}
.col-t-9 {width: 75%;}
.col-t-10 {width: 83.33%;}
.col-t-11 {width: 91.66%;}
.col-t-12 {width: 100%;}

.col-t-box{width:48%;}

.row-t-box{height:80%;}
.row-t-1{height:75%;}
.row-t-2{height:50%;}
.row-t-3{height:25%;}



[class*="col-"] {
   /*padding: 15px; */
    /*border: 1px solid yellow;*/ 
	float:left;
	text-align:left;
}
#secondarticle{
height:950px;
}
#content{
	height:380px;
}
.fullsectionwithp_t{
/*border: 1px solid yellow; */
width:100%;
height:2900px;
}
.fullsectionwithoutp_t{
/*border: 1px solid yellow; */
width:100%;
height:2050px;
}
#products{
	height:700px;
}
#productdetails{
  height:850px;
}

#hovimg1{
	top: 35%; 
	left:60%;
	height:18px;
	width:18px;
}

#hovimg2{
	top: 50%; 
	left:30%;
	height:18px;
	width:18px;
}

#hovimg3{
	top: 80%; 
	left:50%;
	height:18px;
	width:18px;
}

}
@media only screen and (min-width:960px) {
body{
width:960px;
/*height:500px; */
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-box{width:24%;}

[class*="col-"] {
   /*padding: 15px; 
    border: 1px solid blue; */
	float:left;
	text-align:left;
}
#secondarticle{
height:450px;
}
#content{
	height:240px;
}
#producthead{
	height:90px;
}
#products{
	height:450px;
}
#productdetails{
  height:500px;
}


.fullsectionwithp_f{
/* border: 1px solid green; */
width:100%;
height:1660px;
}
.fullsectionwithoutp_f{
/* border: 1px solid green; */
width:100%;
height:1160px;
}

#learnm{
	width:35%;
}

#productdetails2img{
	margin-top:35px;
	height:50%;
}

#hovimg1{
	top: 35%; 
	left:60%;
	height:18px;
	width:18px;
}

#hovimg2{
	top: 50%; 
	left:30%;
	height:18px;
	width:18px;
}

#hovimg3{
	top: 80%; 
	left:50%;
	height:18px;
	width:18px;
}

.row-1 {height: 8.33%;}
.row-2 {height: 16.66%;}
.row-3 {height: 25%;}
.row-4 {height: 33.3%;}
.row-5 {height: 41.66%;}
.row-6 {height: 50%;}
.row-7 {height: 58.33%;}
.row-8 {height: 66.66%;}
.row-9 {height: 75%;}
.row-10 {height: 83.33%;}
.row-11 {height: 91.66%;}
.row-12 {height: 100%;}

}
body{

margin:auto;
}

#headerimg{
width:100%;
}

h1, h2{
color:#002b5a;
margin-bottom:1px;
margin-top:1px;
text-transform: capitalize;
}
h2{
font-size:40px;
font-weight:200;
}

h3{
color:#002b5a;
font-size:15px;
font-weight:normal;
}

#content{
color:#333;
padding:10px;
}

#text p{
font-size:18px;
}

#side p{
font-size:12px;
text-align:justify;
color:#002b5a;
margin-bottom:5px;
}
#side h2{
font-size:20px;
margin-bottom:10px;
margin-top:5px;
}

#side{
/*width:300px; */
/*height:120px; */
vertical-align:top;
float:right;
margin-top:10px;
background-color:#F0F0F0;
padding:5px;
box-shadow:0 1px 3px rgba(0,0,0,0.25),0 2px #f0f0f0 inset;

}

#stateinput{
border:1px solid #f5f5f5;
color:gray;
background-image:url('images\\search.png');
background-repeat:no-repeat;
background-position:right center;outline:0;
/*width:270px; */
font-size:13px;
color:#002b5a;
}

.ui-menu .ui-menu-item {
    color: #002b5a;
    border: 1px solid lightgray;
}

#secondarticle{
background-color:#F0F0F0;
padding:25px;
}

#secondarticle a {
display:block;
/*margin-top:15px;
width:110px;
height:40px;*/
border:1x gray;
border-radius:3px;
background-color:#ffffff;
font-size:14px;
color:#002b5a;
text-align:left;
padding:9px;
box-shadow:0 1px 3px rgba(0,0,0,0.25),0 2px #fff inset;

}



  #products{
background-color:#F0F0F0;
padding:5px; 
/*height:830px;
width:100%;	*/
margin-bottom:10px;
}
#products h1{
font-size:42px;
margin-top:10px;
/*float:left;*/
margin-left:10px;
}

#filter{
 /* float:right;
  padding:5px;
  margin-right:10px;
  vertical-align:top;
  margin-top:20px; */
  
vertical-align:top;
float:right;
margin-top:10px;
background-color:#F0F0F0;
padding:5px;

}

#selectcss{
background-color:#F8F8F8; 
height:25px;
border:0;
box-shadow:0 1px 3px rgba(0,0,0,0.25),0 2px #f0f0f0 inset;
}


.boximg{
float:center;
height:50%;
width:100%;
float:left;
vertical-align:middle;
}
 .b1 a{
  vertical-align:bottom;
  width:70%;/*
  display:block;
  margin:5px;
  
  
  /*width:110px;
  height:40px; 
  border:1x gray;
  border-radius:3px;
  background-color:#ffffff;
  font-size:14px;
  color:#002b5a;
  text-align:left;
  padding:9px;
  box-shadow:0 1px 3px rgba(0,0,0,0.25),0 2px #fff inset;*/
}

.b1{
/*width:190px;
height:300px;
*/
/*margin-left:10px;
margin-right:6px;*/
margin:4px;

float:left;
padding:5px;
background-color:#F8F8F8;

}

.ptitle{
font-size:17px;
color:#002b5a;
}
#startingat{
color:#4987ca;
font-size:13px;
}


#productdetails{
  width:100%;
  background-color:#F0F0F0;
}

#productdetails1 h1{
color:#002b5a;
font-size:24px;
margin-bottom:10px;
}
#data{
width:100%;
}
#productdetails1 h2{
color:#4987ca;
font-size:19px;
margin-bottom:10px;
}

  #learnm{
  display:block;
  margin-top:0px;
  height:40px;
  border:1x gray;
  border-radius:3px;
  background-color:#002bfa;
  font-size:14px;
  color:#ffffff;
  text-align:left;
  padding:9px;
  box-shadow:0 1px 3px rgba(0,0,0,0.25),0 2px #fff inset;
  
  }